
.gift-card hr {
    opacity: 0.3;
}

.gift-card {
    transition: 0.3s;
    max-width: 45%;
    border: 1px solid black;
    border-radius: 5px;
    background-color: white;
    margin-top: 1rem;
    font-family: 'Balsamiq Sans', serif;
    box-shadow: 0 0 15px 5px gray;
}

.gift-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.gift-card-content {
    margin: 1rem 1rem;
    text-align: center;
    font-size: 24px;
}

.gift-card-content span {
    line-height: 1.4;
}

.gift-card-link {
    text-align: justify;
    padding-bottom: 2rem;
    margin: 1rem 1rem auto;
}

.gift-card-link a {
    color: green;
    margin-bottom: 2rem;
    font-size: 24px;
    line-height: 1.2;
}

@media screen and (max-width: 1800px) {

    .gift-card {
        max-width: 45%;
    }
}

@media screen and (max-width: 1500px) {

    .gift-card {
        max-width: 70%;
    }

}

@media screen and (max-width: 1200px) {
    .gift-card {
        max-width: 70%;
        margin-top: 2rem;
    }

    .gift-card-link a {
        font-size: 24px;
    }
}

@media screen and (max-width: 1000px) {

    .gift-card-link a {
        font-size: 20px;
    }
}

@media screen and (max-width: 800px) {
    .gift-card {
        max-width: 90%;
        margin-top: 2rem;
    }

}