
.recomment-detail-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 5rem;
    background-color: #e5e5e5;
}

.recomment-detail-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: white;
    padding: 2rem;
    margin-left: 1rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px gray;
}

.rec-detail-header {
    align-self: center;
    font-size: 45px;
    font-family: 'Righteous', cursive;
}

.rec-detail-text {
    text-align: justify;
    font-size: 24px;
    margin-top: 2rem;
}

.rec-image {
    width: 50rem;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 20px 2px gray;
}

@media only screen and (max-width: 1500px) {
    .recomment-detail-container {
        flex-direction: column;
    }

    .recomment-detail-content {
        margin-top: 2rem;
    }

    .recomment-detail-img {
        align-self: center;
    }
}

@media screen and (max-width: 1000px){
    .rec-image {
        width: 50rem;
    }


}

@media screen and (max-width: 800px){
    .rec-image {
        width: 35rem;
    }

    .rec-detail-header {
        font-size: 35px;
    }

    .rec-detail-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px){
    .rec-image {
        width: 25rem;
    }

    .rec-detail-header {
        font-size: 25px;
    }

    .rec-detail-text {
        font-size: 18px;
    }


}